#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	automake --add-missing
	./configure --prefix=/usr --with-gtk=3.0 --enable-nettle --enable-gcrypt --enable-nautilus --enable-thunar --enable-nemo --enable-caja --enable-blake2 --enable-gtkhash --enable-libcrypto --enable-native-file-chooser --enable-linux-crypto --enable-zlib

override_dh_auto_test:

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_makeshlibs:
	dh_makeshlibs -Xlibgtkhash-properties

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/gtkhash/usr/share/applications
